@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
  background-image: linear-gradient(to right, rgb(238, 207, 172), antiquewhite);
}

.title {
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 60px;
  color: rgb(202, 82, 82);
  background-color: rgb(43, 43, 92);
}

.content {
  text-align: center;
}

h3 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
}

p {
  font-family: 'Rancho', cursive;
  font-size: 25px;
}

.button {
  text-align: center;
}

button {
  border-radius: 20px;
  font-family: 'Rancho';
  background-color: rgb(250, 199, 151);
}

#button {
  font-size: 30px;
}

#button:hover {
  font-weight: bold;
}

#click-display {
  text-align: center;
  font-size: 30px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-around;
}

nav {
  padding-bottom: 25px;
}

a {
  text-decoration: none;
  font-family: 'Rancho';
  font-size: 25px;
}

a:visited {
  color: black;
}

a:hover {
  font-weight: bold;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  height: 300px;
  width: 55%;
}

.cell {
  display: flex;
  justify-content: center;
  border: solid 5px brown;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

#score {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#your-score {
  font-size: 30px;
  padding-right: 5px;
}

#time {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 25px;
}

#timer {
  margin-left: 10px;
}

#diglett-gif {
  text-align: center;
  margin: 20px;
}

img {
  border-radius: 30px;
  width: 40%;
}
